$bgColor: lightgreen;
$height: 200px;

.navbar {
    background-color: $bgColor;
}
.img-detail {
    height: $height;
}
.img-constr {
    height: $height;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@mixin marg-pad {
    margin: 20px;
    padding: 20px;
}

.collection {
    @include marg-pad;
}
.cart {
    @include marg-pad;
}

@import "sass02";
.coll-name {
    @extend .img-container;
    margin-bottom: 80px;
    font-style: italic;
}

.custom-login {
    height: 500px;
    padding-top: 100px;
}
.img-slider {
    height: 400px !important;
}
.custom-product {
    height: 600px;
}
.text-slider {
    background-color: #4a5568 !important;
}
.img-collection {
    height: 100px;
}
.item-collection {
    float: left;
    width: 20%;
}
.footer {
    text-align: center;
}
.search-box{
    width: 500px !important;
}

.unfinished {
    padding: 20px;
}
